@model Turkok.Model.ApplicationUser

<p>
    Merhaba,
</p>

<p>
    Bu eposta size Türkök Uygulamasında üyelik başvurunuz sebebiyle e-posta doğrulaması için gelmiştir. Epostanızı doğrulamak için <a href="@ViewBag.CallbackUrl.ToString()">buraya</a>" tıklayın. Üyeliğiniz onaylanınca uygulamaya giriş yapabilirsiniz.
</p>

<p>
    Saygılarımızla.
</p>