@model Turkok.Model.ApplicationUser

<p>
    Merhaba,
</p>

<p>
    Bu eposta size Türkök Uygulamasında unutma sebebiyle şifre yenileme talebiniz için gelmiştir. Şifrenizi yenilemek için <a href="@ViewBag.CallbackUrl.ToString()">buraya</a>" tıklayın. 
</p>

<p>
    Saygılarımızla.
</p>