@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Kendo.Mvc.UI

<aside class="right-side">
    <section class="content-header">
        <h1>Hedefler</h1>
    </section>
    <section class="content">
        <div class="row box-danger">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                    </div>
                    <div class="box-body" style="padding: 10px;">
                        <div class="pull-left">
                            @Html.ActionLink("Yeni Hedef", "Create", "Target", null, new { @class = "btn btn-primary" })
                        </div>
                        <div class="clearfix"></div>
                        @(Html.Kendo().Grid<Turkok.Model.Target>()
                        .Name("grid")
                        .Columns(columns =>
                        {
                            columns.Bound(p => p.Name).Width(220).Title("Hedef Adı");
                            columns.Bound(p => p.TargetId).Width(220).Title("Hedef No");
                            columns.Bound(p => p.CreationDate).Format("{0:dd/MM/yyyy}").Width(120).Title("Oluşturulma Zamanı");
                        })
                        .Pageable(pageable => pageable.Refresh(true).PageSizes(true).ButtonCount(5))
                        .Sortable()
                        .Scrollable()
                        .HtmlAttributes(new { style = "height:430px;" })
                        .DataSource(dataSource => dataSource
                            .Ajax()
                            .PageSize(20)
                                .Events(events => events.Error("error_handler"))
                                .Model(model => model.Id(p => p.Id))
                                .Read(read => read.Action("Read", "Target"))
                        )
                        )
                    </div>
                    <div class="box-footer">
                    </div>
                </div>
            </div>
        </div>
    </section>
</aside>
<script type="text/javascript">

    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });

            alert(message);
        }
    }
</script>
